/*http://outlast.hu/fixing-chromes-background-gradient-bug/*/
html {
  height: 100%;
  font-size: 16px;
}
body {
  padding: 50px;
  font: 14px "Lato", Helvetica, Arial, sans-serif;
  background-color: rgb(248, 247, 251);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, rgba(113, 112, 123, 1) 100%);
  box-sizing: border-box;
}

footer {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 760px;
}

#footer {
  height:80px;
  position:absolute;
  bottom:0;
  text-align: center;
}

#footer a{
  color: black;
}

.active {
  font-weight: bold;
}

#disclaimer {
  display: none;
}

.no-csstransforms3d #disclaimer { display: block; }

.navbar {
  border-top: 1px solid rgb(182, 182, 182);
  border-bottom: 1px solid rgb(182, 182, 182);
}

.navbar > li {
  display: inline-block;
  list-style-type: none;
  padding : 10px;
}
.navbar a {
  text-decoration: none;
  color : #563d7c;
}

#experiment {
  padding: 20px;
  perspective: 800px;
  perspective-origin: 50% 250px;
}

#cube {
  position: relative;
  margin: 0 auto;
  height: 500px;
  width: 500px;
  transition: transform 0.85s ease-out;
  transform-style: preserve-3d;
}

.faceTitle {
  font-weight: 100;
  font-size: 12px;
  color: darkgrey;
}

.face {
  box-sizing: border-box;
  border: 2px solid rgba(187, 187, 187, 0.43);
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 1em;
  color: #16161d;
  background-color: #F8F8F8; 
}

.faceContent {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;

}
.innerNav{
  padding: .5em;
  background-color: black;
  color: white;
  display: inline-block;
}
.innerNav a {
  color: white;
  text-decoration: none;
  font-size:3em;
}
.innerNav.leftNav {
  padding-left: .15em;
  padding-right: .7em;
  margin-right: auto;
  border-bottom-right-radius: 3em;
  border-top-right-radius: 3em;
}
.innerNav.rightNav {
  padding-left: .7em;
  padding-right: .15em;
  margin-left: auto;
  border-bottom-left-radius: 3em;
  border-top-left-radius: 3em;
}
#refList > li{
  margin-bottom: 1em;
}
#reflist a {
  text-decoration: none;
}
#reflist a:hover {
  font-weight: bold;
}

#cube .front  { transform: rotateY(   0deg ) translateZ( 250px ); }
#cube .back   { transform: rotateX( 180deg ) translateZ( 250px ); }
#cube .right  { transform: rotateY(  90deg ) translateZ( 250px ); }
#cube .left   { transform: rotateY( -90deg ) translateZ( 250px ); }
#cube .top    { transform: rotateX(  90deg ) translateZ( 250px ); }
#cube .bottom { transform: rotateX( -90deg ) translateZ( 250px ); }


#cube.show-front  { transform: translateZ( -250px ) rotateY(    0deg ); }
#cube.show-back   { transform: translateZ( -250px ) rotateX( -180deg ); }
#cube.show-right  { transform: translateZ( -250px ) rotateY(  -90deg ); }
#cube.show-left   { transform: translateZ( -250px ) rotateY(   90deg ); }
#cube.show-top    { transform: translateZ( -250px ) rotateX(  -90deg ); }
#cube.show-bottom { transform: translateZ( -250px ) rotateX(   90deg ); }